.userInfo{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    font-family: 'JetBrains Mono';
    font-size: 1.7vmin;
    font-weight: 600;
    color: #a89bc5;
    gap: 10%;
}
.userInfo img{
    height: 70%;
    aspect-ratio: 1 / 1;
}