@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,500;1,500&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.calculator{
  font-family: 'JetBrains Mono';
  font-size: 2vmin;  
  background: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 400px;
  margin: 0 auto; 
  padding: 7px; 
}

.customButton {
  padding: 0;  
  height: 70px; 
  width: 100%;   
  border-radius: 10px;  
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'JetBrains Mono';
  font-size: 2vmin;
}

.customButton:focus {
  outline: none;  
}

.customButton:hover {
  background-color: rgba(255, 255, 255, 0.2);  
}

.customButton:active {
  background-color: rgba(255, 255, 255, 0.4);  
}

.row > .col {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.row {
  margin-bottom: 5px;
}
